:root {
  --primary-color: #e6ad3a;
  --secondary-color: #2e758b;
}

* {  
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
} 

body {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;  
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

/* NAVBAR STYLING */
.navbar {
  height: 110px;
  border: solid black 2px;
}

.navbar .flex {
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 10%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  padding: 5px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: var(--primary-color) 2px solid;
}









/* MEDIA QUERIES */
@media (max-width: 768px) {
  body {
    background-color: pink;
  }

  .navbar img {
    width: 15%;
  }
}

@media (max-width: 500px) {
  body {
    background-color: lightcyan;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar img {
    width: 18%;
  }

  .navbar ul {
    justify-content: space-between;
  }

  .li-span {
    display: none;
  }
}

@media (max-width: 420px) {
    .hidden {
      display: none;
    }

    .navbar img {
      width: 20%;
    }
}

