@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


:root {
  --primary-color: #e6ad3a;
  --secondary-color: #2e758b;
}

* {  
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
} 
 
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;  
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.highlight {
  font-style: italic;
  color: var(--primary-color);
  font-family: 'Sacramento', cursive; 
  font-size: 6rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;  
}

.btn:hover {
  transform: scale(0.9);
}

/* NAVBAR STYLING */
.navbar {
  height: 90px; 
}

.navbar .flex {
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 10%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.navbar a {
  padding: 5px ;
  margin: 0 5px;
}

.navbar a:hover,
#socials a:hover,
#about-us a:hover,
#about-mystory a:hover,
#faqs a:hover,
footer a:hover {
  border-bottom: var(--primary-color) 2px solid;
}

/* SHOWCASE STYLING */
.showcase,
.showcase-about {
  max-width: 100%;
  height: 100%;
}

.showcase .grid,
.showcase-about .grid,
.showcase-contact .grid {
  column-gap: 30px; 
}

.showcase-img img,
.showcase-about-img img ,
.showcase-contact-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.title,
.h2-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  line-height: 1;
  text-transform: capitalize;
}

.showcase-text .btn,
#get-support-text .btn {
  margin: 10px 0 10px 0;
}

#socials {
  justify-content: space-between;
  margin-bottom: 10px;
}

#socials a {
  margin-bottom: 20px;
}

#socials-hidden {
  display: none;
}

/*  NUMBER STYLING */
#numbers-panel {
  background-color: #2e758b;
  color: #fff;
  height: 180px;
  animation: slideInFromLeft 1s ease-in;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#numbers-panel .entry{
  display: flex;
}

#numbers-panel .entry div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#numbers-panel .entry div .numbers {
  font-weight: bold;
}

#numbers-panel .entry div .num-text {
  font-size: small;

}

/* STYLING FOR THE MAIN SECTION - HOME PAGE */
main {
  min-height: 100vh;
  margin-top: 30px;
  margin-bottom: 50px;
}

#main-div,
#about-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  height: 180px;
  margin-top: 10px;
  padding-bottom: 50px;
}

#main-div img,
#about-div img {
  width:100%;
  height: 80%;
  object-fit: cover;
}

#main-div .main-text {
  font-size: large;
}

/* STYLING FOR THE MAIN SECTION in the ABOUT PAGE*/
.community-project {  
  position: relative;
  
}

.community-project img {
  vertical-align: top;
}

.community-project-text {
  position: absolute;
  bottom: 90px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  color: #fff;
}

/* STYLING FOR THE ABOUT-US SECTION */
#about-us,
#about-mystory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  column-gap: 50px;
  padding: 30px 0 0 0; 
}

#about-mystory {
  padding-top: 0;
  line-height: 1.4;
}

#about-us .h2-title,
#about-mystory .h2-title {
  margin-top: 5px;
}

#about-text,
#about-mystory-text {
  padding-bottom: 20px;
}

#about-us img {
  height: 100%;
  object-fit: cover;
}

#about-mystory img {
  height: 100%;
  object-fit: cover;
}


.client-img,
#get-support img {
  width: 100%;
  height: 100%;  
  object-fit: cover;
}

/* Facts panel */
#facts {
  text-align: center;
  background-color: #2e758b;
  color: #fff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInFromRight 1s ease-in;
}

#facts-intro {
  font-size: small;
}

#facts-stats {
  font-size: larger;
}


/* Get support section */
#get-support {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 0 0 0 0; 
}

#get-support-text h2,
#get-support-text .highlight {
  font-size: 2.5rem;
}

#get-support-text h2 {
  margin-top: 30px;
}

/* Reviews section */
#review-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.review {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 100px;
  max-width: 340px;
  width: 100%;
  background-color: #000;
  color: var(--primary-color);
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}
.review img {
  max-width: 100%;
  opacity: 0.3;
  vertical-align: top;
}

.review:hover {
  opacity: 0.9;
  transform: scale(0.95)
}

.review figcaption {
  position:absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.review figcaption::before {
  font-family: 'FontAwesome';
  content: '\f10d';
  font-size: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0.3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.review blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-weight: 500;
}

.review h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 5px 0;
  color: #fff;
}

/* CONTACTS PAGE */
.showcase-contact {
  height: 100vh;
  max-width: 100%;
}

.showcase-contact-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#faqs .title {

  /* border:solid 2px black; */
  padding-top: 0;

}

/* CONTACT Form */

form .hidden {
  display: none;
}

#contact-form {
  height: 500px;
  width: 100%;
  padding: 40px 40px 100px 40px;
  animation: slideInFromRight 1s ease-in;
}

form .form-control {
  margin: 30px 0;
}

form input[type='text'],
form input[type='email'],
form input[type='tel'] {
  border: 0;
  border-bottom: solid 1px var(--secondary-color);
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

form input[type='text']:focus,
form input[type='email'],
form input[type='tel'] {
  outline: none;
}

form .btn {
  border: none;
  width: 250px;
}


/* Footer section */
.fa-instagram,
.fa-envelope,
.fa-chevron-down,
.fa-facebook {
  color: var(--primary-color); 
}

footer {
  background-color: #053d4e;
  color: var(--primary-color);
  padding: 40px 20px 20px 40px;
}

footer a {
  color: var(--primary-color);
}

#footer {
  display: grid;
  grid-template-columns: 31% 23% 23% 23%;  
}

#footer-mama-kazaliwa h2 {
  font-size:larger;
}

#footer-mama-kazaliwa img {
  width: 25%;
} 

#footer-socials,
#footer-mama-kazaliwa {
  color: var(--primary-color);
}

#footer-mama-kazaliwa h2,
#footer-mama-kazaliwa #footer-socials,
#footer-details {
  padding-left: 30px;
}

#footer h4 {
  padding-bottom: 10px;;
}

.fa-instagram {
  padding-right: 20px;
}

footer #explore,
footer #footer-about,
footer #help {
  line-height: 2;
} 

#footer-details {
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding-top: 30px;
}

#footer-details-left {
  display: flex;  
  justify-content: space-between;
  width: 400px;  
}

/* ANIMATION */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}


/* MEDIA QUERIES */
/* Media Queries for tabs */
@media (max-width: 768px) {
  body {
    background-color: pink;
  }

  .navbar img {
    width: 15%;
  }

  .grid,
  .showcase .grid,
  .showcase-about .grid,
  .showcase-contact .grid{
    grid-template-columns: 1fr;
  }

  .showcase,
  .showcase-about,
  .showcase-contact {
    height: auto;
  }

  .showcase-img,
  .showcase-about-img,
  .showcase-contact-img {
    height: 100%;
  }

  .showcase-about-img {
    padding-top: 30px;
  }

  .showcase-text,
  .showcase-about-text,
  #about-text,
  #about-mystory-text,
  #get-support-text,
  .showcase-contact-text {
    text-align: center;
  }

  .community-project-text {
    font-size: small;
    bottom: 50px;
  }

  #numbers-panel {
    height: auto;
    flex-direction: column;
  }

  #numbers-panel .entry {
    flex-direction: column; 
    align-items: center;  
    padding-bottom: 20px; 
  }

  #numbers-panel .entry:first-child {
    padding-top: 20px;
  }

  #numbers-panel .entry div{
    flex-direction: row;
    align-items: center;   

  }

  #numbers-panel .entry .fa-solid {
    font-size: x-large;
  }

  
  #numbers-panel .entry div .numbers {    
    font-size: medium;
    padding-right: 5px;
  }
  
  #numbers-panel .entry div .num-text {
    font-size: medium;    
  }

   /* Main section */
  .h2-title {
    text-align: center;
  }

  .h2-title,
  .highlight {
    font-size: 75px;
  }

  main {
    margin-bottom: 10px;
  }

  #main-div img,
  #about-div img {
    height: 80%;
  }

  /* About */
#about-us,
#about-mystory {  
  grid-template-columns: 1fr;
  height: auto;
}

#about-us .h2-title,
#about-mystory .h2-title {
  margin-top: 20px;
}

#about-us img,
#about-mystory img { 
  height: 100%; 
}

/* Facts */
#facts #facts-stats {
  font-size: x-large;
}

/* Get Support */
#get-support {
  grid-template-columns: 1fr;
}

#get-support img {
  margin-bottom: 30px;
  order: -1;
}

#review-container {
  flex-direction: column;
  height: auto;
}

.review {
  max-width: 100%;
  height: 500px;  
}

.review figcaption {
  top: 0;
  padding: 50px 20% 0
}

/* Footer */
#footer {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

#footer-mama-kazaliwa {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;
  column-gap: 100px;  
}

#footer-mama-kazaliwa h2,
#footer-socials {
  grid-column: 2 / span 3;
}

#footer img {
  width: 80%;
}





}

/* Media Queries for mobile phones */
@media (max-width: 500px) {
  body {
    background-color: lightcyan;
  }

  /* Navbar */
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar img {
    width: 18%;
  }

  .navbar ul {
    justify-content: center;
  }

  .li-span {
    display: none;
  }

  /* Social links */
  #socials {
    display: none;
  }

  #socials-hidden {
    display: flex;
    justify-content: center;
  }

  #socials-hidden a {
    margin:0 15px 15px;
  }

  #socials-hidden i {
    color: var(--secondary-color)
  }

  /* Main section */
  .h2-title,
  .highlight,
  #contact-form .title {
    font-size: 65px;
  }

  #faqs .title  {
    font-size: 50px;
  }

  main {
    height: auto;
    margin-top: px;
  }

  #main-div,
  #about-div {
    display: grid;
    grid-template-columns: 1fr;  
    height: fit-content;
    padding-bottom: 0;
  }

  .main-div-child {
    height: fit-content;
    margin-bottom: 10px;;
  }

  #about-us img,
  #about-mystory img { 
    display: none; 
  }

  #about-us .h2-title,
  #about-mystory .h2-title {
    margin-top: 0;
  }

  .community-project-text {
    font-size: x-large;
    bottom: 5px;
  }

  .showcase-contact-img,
  .showcase-contact-text .title{
    margin-top: 20px;
  }

  /* Contact form */
#contact-form {
  padding-top: 0;
}

  /* Footer  */
footer {
  margin: 0 auto;
}

  #footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  
  #footer-mama-kazaliwa {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 10px;  
  }
  
  #footer-mama-kazaliwa h2,
  #footer-socials {
    grid-column: 2 / span 3;
  }
  
  #footer img {
    width: 80%;
  }

footer #explore p,
footer #footer-about p,
footer #help p {
  font-size: medium;
} 

#footer-details {
  flex-direction: column;  
  height: 90px;
}

#footer-details-left {
  margin-left: 0;
  align-items: center;
  justify-content: space-between;
}

#footer-details-right {
  align-self: center;
}

  
  
  

 






 

  
}

/* Media Queries for small screens */
@media (max-width: 420px) {
    .hidden {
      display: none;
    }

    .navbar img {
      width: 20%;
    }
    
    .title,
    .highlight,
    .h2-title {
      font-size: 40px;
    }

   

   
}

