@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


:root {
  --primary-color: #e6ad3a;
  --secondary-color: #2e758b;
}

* {  
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
} 

body {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;  
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a {
  text-decoration: none;
}

.highlight {
  font-style: italic;
  color: var(--primary-color);
  font-family: 'Sacramento', cursive; 
  font-size: 6rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;  
}

.btn:hover {
  transform: scale(0.9)
}



/* NAVBAR STYLING */
.navbar {
  height: 90px;
 
}

.navbar .flex {
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 10%;
}

.navbar ul {
  display: flex;
  /* justify-content: center; */
  /* border: 2px solid black; */
}

.navbar a {
  padding: 5px ;
  margin: 0 5px;
}

.navbar a:hover,
#socials a:hover {
  border-bottom: var(--primary-color) 2px solid;
}

/* SHOWCASE STYLING */
.showcase {
  max-width: 100%;
  height: 100%;
}

.showcase .grid {
  column-gap: 30px;;
 
}

.showcase-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  line-height: 1;
  text-transform: capitalize;
}

.showcase-text .btn {
  margin: 10px 0 10px 0;
}

#socials {
  justify-content: space-between;
  margin-bottom: 10px;
}

#socials a {
  margin-bottom: 20px;
}

#socials-hidden {
  display: none;
}

/* STATS STYLING */
#numbers-panel {
  background-color: #2e758b;
  color: #fff;
  height: 180px;
  animation: slideInFromLeft 1s ease-in;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#numbers-panel .entry{
  display: flex;
}

#numbers-panel .entry div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#numbers-panel .entry div .numbers {
  font-weight: bold;
}

#numbers-panel .entry div .num-text {
  font-size: small;
}



/* ANIMATION */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}















/* MEDIA QUERIES */
/* Media Queries for tabs */
@media (max-width: 768px) {
  body {
    background-color: pink;
  }

  .navbar img {
    width: 15%;
  }

  .grid,
  .showcase .grid {
    grid-template-columns: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
  }

  #numbers-panel {
    height: auto;
    flex-direction: column;
  }

  #numbers-panel .entry {
    flex-direction: column; 
    align-items: center;  
    padding-bottom: 20px; 
  }

  #numbers-panel .entry:first-child {
    padding-top: 20px;
  }

  #numbers-panel .entry div{
    flex-direction: row;
    align-items: center;   

  }

  #numbers-panel .entry .fa-solid {
    font-size: x-large;
  }

  
  #numbers-panel .entry div .numbers {    
    font-size: medium;
    padding-right: 5px;
  }
  
  #numbers-panel .entry div .num-text {
    font-size: medium;    
  }



}

/* Media Queries for mobile phones */
@media (max-width: 500px) {
  body {
    background-color: lightcyan;
  }

  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar img {
    width: 18%;
  }

  .navbar ul {
    justify-content: center;
  }

  .li-span {
    display: none;
  }

  #socials {
    display: none;
  }

  #socials-hidden {
    display: flex;
    justify-content: center;
  }

  #socials-hidden a {
    margin:0 15px 15px;
  }

  #socials-hidden i {
    color: var(--secondary-color)
  }

  
}

/* Media Queries for small screens */
@media (max-width: 420px) {
    .hidden {
      display: none;
    }

    .navbar img {
      width: 20%;
    }
    
    .title,
    .highlight {
      font-size: 40px;
    }

   
}

